@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

.flex{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 50px 250px 50px 250px;
    margin-bottom: 0;
    background-color: rgba(27, 4, 34, 0.74);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    font-size: 1.5rem;
    font-family: 'moon dance',cursive;

}

body{
    font-family: 'Luxurious roman',cursive;
}

form{
    margin-top: -1.25rem;
    text-align: left;
    padding-left: 15rem;
    padding-right: 8rem;
    background-color: rgb(229, 182, 243);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 250px;
    margin-right: 250px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

input{
    height: 30px;
}

input[type=radio], input[type=checkbox]{
    height: auto;
    width: 30px;
    transform: scale(1.4);
}

label{
    font-size: 20px;
}

textarea{
    margin-left: 10px;
    margin-top: 10px;
}

select{
    width: 150px;
    height: 30px;
}

input[type=submit]{
    width: 8rem;
    height: 3rem;
    background-color: rgba(27, 4, 34, 0.74);
    margin-left: 30%;
    margin-top: 4rem;
    font-size: 22px;
    font-family: 'moon dance',cursive;
    font-weight: 1000;
}

input[type=submit]:hover{
    background-color: rgba(157, 47, 194, 0.548);
    border-color: rgba(27, 4, 34, 0.74);
    border-width: 3.5px;
    border-radius: 10px;
}